<pre>{{ seletor | json}}</pre>
<div class="container">
    <form>
        <div class="card">
            <div class="card-header text-white bg-primary"> 
                <h4>Filtros</h4>
            </div>
            <div class="card-body"> 
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="nomePais" class="form-label">País:</label>
                        <input type="text" class="form-control" name="nomePais"
                               [(ngModel)]="seletor.nomePais">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="nomeVacina" class="form-label">Nome:</label>
                        <input type="text" class="form-control" name="nomeVacina">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="nomePais" class="form-label">&nbsp;</label>
                        <button type="submit" class="btn btn-primary" 
                                (click)="pesquisar()">Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <br><br>
    
    <table class="table table-dark table-hover">
        <thead>
            <th>Nome</th>
            <th>País de Origem</th>
            <th>Pesquisador</th>
            <th>Iniciada em:</th>
            <th>Estágio</th>
        </thead>    
        <tbody>
            @for(vacina of vacinas; track vacina) {
                <tr>
                    <td>{{ vacina.nome }}</td>
                    <td>{{ vacina.paisOrigem.nome }}</td>
                    <td>{{ vacina.pesquisadorResponsavel.nome }}</td>
                    <td>{{ vacina.dataInicioPesquisa | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ vacina.estagio }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
