<div class="container">
    <form>
        <div class="card">
            <div class="card-header">
                <h3>{{vacinacao.id ? 'Edição de' : 'Nova'}} Vacinação</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="paciente">Paciente</label>
                        <select class="form-select" name="paciente"
                                aria-label="Selecione um paciente"
                                [compareWith]="compareById"
                                [(ngModel)]="vacinacao.idPessoa"
                                required>
                            <option *ngFor="let pessoa of pessoas"
                                    [ngValue]="pessoa.id">{{pessoa.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="vacina">Vacina</label>
                        <select class="form-select" name="vacina"
                                aria-label="Selecione uma vacina"
                                [compareWith]="compareById"
                                [(ngModel)]="vacinacao.vacina"
                                required>
                            <option *ngFor="let vacina of vacinas"
                                    [ngValue]="vacina">{{vacina.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="avaliacao">Avaliação</label>
                        {{vacinacao.avaliacao}}
                        <input type="range" class="form-range" name="forca" 
                               min="1" max="5" [(ngModel)]="vacinacao.avaliacao" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dataAplicacao">Data da Aplicação</label>
                        <input type="date" class="form-control" name="dataAplicacao" 
                               [(ngModel)]="vacinacao.dataAplicacao" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>&nbsp;</label>
                        <button type="submit" class="form-control btn btn-primary" (click)="salvar()">
                            <i class="bi bi-check"></i> Salvar
                        </button>
                    </div>
                </div>
            </div>    
        </div>
    </form>
</div>